<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel Agency Site</title>
</head>
<body>
    <p><h1>Travel Agency</h1></p>
    <br>
    <p><h3>Make your bookings by clicking 'Book a Trip' below</h3></p>

    <button onclick="window.location.href='https://d3lugqqos7gipo.cloudfront.net/index.html';">
      Book a Trip
    </button>

    <!-- This iframe worked, however the chatbot did not function as expected
    <iframe src="https://d3lugqqos7gipo.cloudfront.net/index.html#/?lexWebUiEmbed=true"
    height=460 width=360 frameborder=0 style="">
    </iframe>
    -->

</body>
<aside>

</aside>


</html>